div {
    /* border: 5px; border-color: black; border-style: dashed; */
}

header {
    font-size: xx-large;
    text-align: center;
    background-color: #343a40;
    color: white;
}

.forecastDate {
    font-weight: bold;
}

.forecastDay {
    background-color: #007bff;
    /* font-weight: bold; */
    width: max-content;
    margin: auto;
    color: white;
    border-radius: 5px;
}

.forecastDay div {
    margin: 10px 0px 10px 0px;
    font-size: large;
}

#citySearch {
    background-color: #f8f9fa;
    margin-bottom: 5%;
}

#citySearch p {
    background-color: white;
    border: 1px;
    border-color: gray;
    border-style: solid;
    margin: 0;
    padding: 10px 0px 10px 5%;
}

#citySearch input {
    width: 65%;
    margin-bottom: 10px;
}

#currentWeather {
    margin-top: 2%;
    border: 1px;
    border-color: gray;
    border-style: solid;
}

#fiveDayForecast {
    margin-top: 5%;
}